body {
    background-color: #e1e8f0;
}

a.nav-link {
    color: #000000;
}

a.nav-link:hover {
    color: #0a52ed;
}


.btn-outline-success{
    background-color: rgb(134, 225, 148);
    width: 120px;

}

.input-group{
    width: 500px;
   
}
a{
    color:#0a52ed;
}

.nav{
    background-color: yellow;
}